* {
  padding: 0;
  margin: 0;
}

:root {
  --darkWatchColor: white;
  --lightWatchColor: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    border-radius: 8px;
    user-select: none;
    overflow: hidden;
    color: var(--lightWatchColor);
}

#hour {
  transition-duration: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#date {
  transition-duration: .3s;
  text-align: center;
}

.inverted {
  color: var(--darkWatchColor);
}

.blink {
  animation: blinkDots 1s linear infinite;
}

@keyframes blinkDots {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.buttonsAlignRight {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 20px;
  height: 100dvh;
  opacity: 0;
  transition-duration: .4s;
  transition-delay: .3s;
}

.ebRight {
  position: absolute;
  right: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 20px;
  height: 100dvh;
  transition-duration: .4s;
  transition-delay: .3s;
}

.buttonsAlignLeft {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 20px;
  height: 100dvh;
  opacity: 0;
  transition-duration: .4s;
  transition-delay: .3s;
}

.ebLeft {
  position: absolute;
  left: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 20px;
  height: 100dvh;
  transition-duration: .4s;
  transition-delay: .3s;
}


.buttonsAlignTop {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100vw;
  height: 20px;
  opacity: 0;
  transition-duration: .4s;
  transition-delay: .3s;
}

.ebTop {
  position: absolute;
  left: 100px;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100vw;
  height: 20px;
  transition-duration: .4s;
  transition-delay: .3s;
}

.buttonsAlignBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100vw;
  height: 20px;
  opacity: 0;
  transition-duration: .4s;
  transition-delay: .3s;
}

.ebBottom {
  position: absolute;
  left: 100px;
  bottom: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100vw;
  height: 20px;
  transition-duration: .4s;
  transition-delay: .3s;
}

.closeWindow {
  background-color: #ff000088;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  transition-duration: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
}

.buttonArea {
  background-color: #f0f0f088;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  transition-duration: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.moveArea {
  -webkit-app-region: drag;
}

body:hover .buttonsAlignRight,
body:hover .buttonsAlignLeft,
body:hover .buttonsAlignTop,
body:hover .buttonsAlignBottom, 
body:hover .ebRight,
body:hover .ebTop,
body:hover .ebLeft,
body:hover .ebBottom{
  opacity: 1;
}

.ebRight,
.ebTop,
.ebLeft,
.ebBottom {
  display: none;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--darkWatchColor);
  }

  .inverted {
    color: var(--lightWatchColor);
  }

  .buttonArea {
    background-color: #19191988;
  }
}