/*Use Hour/Minute*/
.stackHour .hour {
    line-height: 90%;
}

/*Windows 11 - Fluent UI*/
.hour {
    font-size: 120px;
    font-family: 'Segoe UI Variable';
    font-weight: 600;
}

.date {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Segoe UI Variable';
    font-weight: 600;
}

/*Windows 10 - Metro UI*/
.mUI .hour {
    font-size: 140px;
    font-family: 'Segoe UI';
    font-weight: 300;
}

.mUI .date {
    font-size: 45px;
    line-height: 36px;
    font-family: 'Segoe UI';
    font-weight: 300;
}

.mUI .buttonArea,
.mUI .closeWindow {
    border-radius: 0px;
}

.mUI .buttonArea {
    border: 1px solid #d0d0d088;
}

.mUI .closeWindow {
    border: 1px solid #dd000088;
}

@media (prefers-color-scheme: dark) {
    .mUI .buttonArea {
        border: 1px solid #27272788;
    }
}

/*One UI*/
@font-face {
    font-family: 'One UI Sans';
    src: url(../../font/OneUISans.ttf);
}

.oUI .hour {
    font-size: 120px;
    font-family: 'One UI Sans';
    font-weight: 600;
}

.oUI .date {
    font-size: 28px;
    font-family: 'One UI Sans';
    font-weight: 200;
}

.oUI .buttonArea,
.oUI .closeWindow {
    border-radius: 120px;
    border: none;
}

/*Pixels - Jersey 10*/
@font-face {
    font-family: 'Jersey 10';
    src: url(../../font/Jersey10.ttf);
}

.px .hour {
    font-size: 120px;
    font-family: 'Jersey 10';
    font-weight: 200;
}

.px .date {
    font-size: 38px;
    font-family: 'Jersey 10';
}

.px .line {
    width: 80%;
    height: 0px;
    border-bottom: 3px dotted black;
    transition-duration: .2s;
}

.px .lineInverted {
    width: 80%;
    height: 0px;
    border-bottom: 3px dotted white;
    transition-duration: .2s;
}

.px .buttonArea,
.px .closeWindow {
    border-radius: 0;
    clip-path: polygon(0px calc(100% - 4px),
            2px calc(100% - 4px),
            2px calc(100% - 2px),
            4px calc(100% - 2px),
            4px 100%,
            calc(100% - 4px) 100%,
            calc(100% - 4px) calc(100% - 2px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 2px) calc(100% - 4px),
            100% calc(100% - 4px),
            100% 4px,
            calc(100% - 2px) 4px,
            calc(100% - 2px) 2px,
            calc(100% - 4px) 2px,
            calc(100% - 4px) 0px,
            4px 0px,
            4px 2px,
            2px 2px,
            2px 4px,
            0px 4px);
}

@media (prefers-color-scheme: dark) {
    .px .line {
        border-bottom: 3px dotted white;
    }

    .px .lineInverted {
        border-bottom: 3px dotted black;
    }
}

/*Wii Menu*/
@font-face {
    font-family: 'DS-Digital';
    src: url(../../font/dsDigital.TTF);
}

.wiiM .hour {
    font-size: 90px;
    font-family: 'DS-Digital';
    font-weight: 200;
}

.wiiM .line,
.wiiM .lineInverted {
    width: 100%;
    height: 3px;
    background-color: #34c2ec;
    box-shadow: 0 0 10px 1px #34c2ec;
    border-radius: 1px;
    transition-duration: .2s;
}

.wiiM .buttonArea {
    border: 1px solid #34c2ec;
    box-shadow: 0 0 3px #34c2ec;
}

.wiiM .closeWindow {
    border: 1px solid #ec3434;
    box-shadow: 0 0 3px #ec3434;
}

.wiiM .buttonArea:hover,
.wiiM .closeWindow:hover {
    transform: scale(1.3);
}

.wiiM .date {
    color: #717071;
    background-color: #d0d3da;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

/*Sonic 3 & Knuckles*/
@font-face {
    font-family: 'Andes';
    src: url(../../font/Andes-Regular.otf);
}

.s3k .hour {
    font-size: 120px;
    font-family: 'Andes';
    font-weight: 200;
    position: relative;
}

.s3k .hour::after {
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: -1;
    content: '';
    background-color: var(--darkWatchColor);
    left: 0;
    bottom: 5%;
}

.s3k .hour.inverted::after {
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: -1;
    content: '';
    background-color: var(--lightWatchColor);
    left: 0;
    bottom: 5%;
}

.s3k .date {
    font-size: 40px;
    font-family: 'Andes';
    position: relative;
}

.s3k .date::after {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    content: '';
    background-color: var(--darkWatchColor);
    left: 0;
    bottom: -50%;
}

.s3k .date.inverted::after {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    content: '';
    background-color: var(--lightWatchColor);
    left: 0;
    bottom: -50%;
}

.s3k .buttonArea,
.s3k .closeWindow {
    border-radius: 0px;
    border: none;
}

.s3k .buttonArea:hover,
.s3k .closeWindow:hover {
    animation: hoverS3K .4s steps(1, start) infinite;
}

@keyframes hoverS3K {
    0% {
        border: 2px solid red;
    }

    50% {
        border: 2px solid yellow;
    }

    100% {
        border: 2px solid red;
    }

}


@media (prefers-color-scheme: dark) {

    .s3k .date::after,
    .s3k .hour::after {
        background-color: var(--lightWatchColor);
    }

    .s3k .date.inverted::after,
    .s3k .hour.inverted::after {
        background-color: var(--darkWatchColor);
    }
}

/*Lines - lovelo*/
@font-face {
    font-family: 'Lovelo';
    src: url(../../font/LoveloLine.otf);
}

.lines .hour {
    font-size: 120px;
    font-family: 'Lovelo';
    font-weight: 300;
}

.lines .date {
    font-size: 28px;
    font-family: 'Lovelo';
    font-weight: 300;
}

.lines .buttonArea {
    border: 1px solid #d0d0d088;
    background-color: transparent;
}

.lines .closeWindow {
    border: 1px solid #dd000088;
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    .lines .buttonArea {
        border: 1px solid #27272788;
        background-color: transparent;
    }
}

/*Royal*/
@font-face {
    font-family: 'Great Vibes';
    src: url(../../font/GreatVibes-Regular.ttf);
}

.royal .hour {
    font-size: 120px;
    font-family: 'Great Vibes';
    filter: drop-shadow(0px 0px 10px var(--lightWatchColor));
    line-height: 90%;
}

.royal .date {
    font-size: 28px;
    font-family: 'Great Vibes';
    filter: drop-shadow(0px 0px 10px var(--lightWatchColor));
}

.royal .hour.inverted,
.royal .date.inverted {
    filter: drop-shadow(0px 0px 10px var(--darkWatchColor));
}

.royal .line,
.royal .lineInverted {
    width: 80%;
    height: 3px;
    transition-duration: .2s;
    background-color: orange;
    box-shadow: 0 0 10px orange;
}

@media (prefers-color-scheme: dark) {

    .royal .hour,
    .royal .date {
        filter: drop-shadow(0px 0px 10px var(--darkWatchColor));
    }

    .royal .hour.inverted,
    .royal .date.inverted {
        filter: drop-shadow(0px 0px 10px var(--lightWatchColor));
    }
}