@font-face {
  font-family: "Segoe UI Variable";
  src: url(./fonts/SegoeUIVariable.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Variable";
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100dvw;
  height: 100dvh;
  gap: 5px;
  font-family: "Segoe UI Variable";
}

/* Background behind */

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  border-radius: 8px;
  z-index: -1;
  background-size: cover;
  background-position: center;
  /* background-image: url('https://th.bing.com/th/id/R.8a9d7219bd1d9927bc753129dfedb70d?rik=nXPhjy6ajfIbDg&pid=ImgRaw&r=0'); */
}

/* Hour View */

.hourView {
  font-size: 120px;
  font-weight: 600;
}

.hourView.loading {
  width: 284px;
  height: 159px;
  border-radius: 8px;
  background-color: #fff3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hourView.stack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 100%;
}

/* Line */

.lineSeparator {
  width: 60dvw;
  height: 2px;
  background-color: #000;
  margin: 10px 0;
}

/* Day View */

.dayView {
  font-size: 26px;
  max-width: 100dvw;
  overflow-wrap: break-word;
  font-weight: 600;
}

.dayView.loading {
  height: 35px;
  width: 340px;
  border-radius: 8px;
  background-color: #fff3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Hour and Day View*/

.hourView.useGradient,
.dayView.useGradient {
  background-clip: text;
  color: transparent !important;
}

.hourView.loading::after,
.dayView.loading::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 100%;
  background-image: linear-gradient(to right, transparent, #fff3);
  left: -40px;
  animation: loadingAnim 1.3s linear infinite;
}

@keyframes loadingAnim {
  from {
    left: -40px;
  }

  to {
    left: 100%;
  }
}

/* Extra Infos */

.extraInfos {
  font-size: 18px;
}

/* Icons */
body:hover .iconsAlign {
  opacity: 1;
}

.iconsAlign {
  width: 20px;
  height: 100dvh;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition-delay: .3s;
  transition-duration: .2s;
  opacity: 0;
  overflow: hidden;
}

.iconsAlign::-webkit-scrollbar {
  width: 3px;
}

.iconsAlign::-webkit-scrollbar-thumb {
  background-color: #003399;
}

.iconsAlign:hover {
  width: 30%;
  opacity: 1;
  background-color: #f0f0f0;
  border-radius: 8px 0px 0px 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

.iconsAlign button {
  border-radius: 4px;
  height: 20px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  background-color: transparent;
  font-size: 14px;
  transition-duration: .2s;
}

.iconsAlign button::after {
  content: attr(function);
  font-size: 13px;
  display: none;
}

.iconsAlign:hover button {
  justify-content: flex-start;
  padding: 15px;
}

.iconsAlign:hover button::after {
  display: block;
}

.iconsAlign button:hover {
  background-color: #19191922;
}

.iconsAlign .closeButton:hover {
  background-color: #f00a;
  color: #fff;
}

.subIconsAlign {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Moving Window Popup*/

.movingWindow {
  width: 100dvw;
  height: 100dvh;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  -webkit-app-region: drag;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.movingWindow button {
  -webkit-app-region: no-drag;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;

  }

  .lineSeparator {
    background-color: #fff;
  }

  .iconsAlign button {
    color: #fff
  }

  .iconsAlign:hover {
    background-color: #191919;
  }

  .iconsAlign button:hover {
    background-color: #fff3;
  }

  .movingWindow {
    background-color: #191919cc;
  }
}